.cta {
  padding: 100px 0;
}

.container {
  width: min(900px, 92%);
  margin: auto;

  text-align: center;

  padding: 4rem 2rem;
  border-radius: 24px;

  background: var(--color-primary-light);
}

.actions {
  margin-top: 2rem;

  display: flex;
  justify-content: center;
}