.card{
display:flex;
flex-direction:column;
gap:1.5rem;
}

.switch{
display:flex;
justify-content:space-between;
align-items:center;
gap:1rem;
}

@media(max-width:768px){

.switch{

flex-direction:column;
align-items:flex-start;

}

.switch button{

width:100%;

}

}