.sidebar{

display:flex;

flex-direction:column;

gap:.6rem;

position:sticky;

top:1.5rem;

}

.menuButton{

justify-content:flex-start;

width:100%;

gap:.8rem;

}

@media(max-width:1024px){

.sidebar{

position:relative;

top:auto;

}

}